* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    /* background: #FFD700; */
    /* background: #FFC107; */
    background: #ffff;
    padding: 1rem;
    z-index: 1000;
    text-align: center;
    border-bottom: #FFC107 2px solid;
}

nav a {
    /* color: rgb(220, 202, 12); */
    color: var(--primary);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    /* color: #FFC107; */
    font-size: 2rem;
    text-align: center;
    position: relative;
}

.home {
    background-color: #FFC107;
} 

.heading{
    color: #FFC107;
}

/* .about {
} */

/* .projects {
} */

.contact {
    background: #111;
}

footer {
    padding: 1rem;
    background: #000;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    section {
        font-size: 1.5rem;
        padding: 2rem;
    }

    nav a {
        display: inline-block;
        margin: 10px;
    }
}